#!/bin/bash

alias migrate="python3 manage.py db migrate"
alias upgrade="python3 manage.py db upgrade"
alias downgrade="python3 manage.py db downgrade"
alias m="python3 manage.py"
alias start="python3 manage.py runserver"
alias build="pip3 install -r requirements.txt && \
if cd web; then git pull; else git clone --depth 1 --progress -b master https://github.com/airmnb/airmnb-web.git web; fi && \
npm install && \
npm run build && \
cd - && \
ln -sf ${PWD}/web/build/index.html ${PWD}/app/index.html && \
ln -sf ${PWD}/web/build/service-worker.js ${PWD}/app/service-worker.js && \
ln -sf ${PWD}/web/build/static ${PWD}/app/static \
"

LOG_ROOT=${LOG_ROOT:-/opt/local/var/log/apache2}

alias app="cd ${FILE_DIR}"
alias conf='cd /opt/local/etc/apache2/'
alias log='cd ${LOG_ROOT}'
alias reload='sudo apachectl graceful'
alias al='cat ${LOG_ROOT}/access_log'
alias el='cat ${LOG_ROOT}/error_log'
alias tal='tail -f ${LOG_ROOT}/access_log'
alias tel='tail -f ${LOG_ROOT}/error_log'

alias db='psql ${DATABASE_URI}'
