#!/bin/bash

alias migrate='python manage.py db migrate'
alias upgrade='python manage.py db upgrade'
alias downgrade='python manage.py db downgrade'
alias m='python manage.py'
alias start='python manage.py runserver'
alias apis='python manage.py list'
alias build='pip install -r requirements.txt && \
if cd web; then git pull; else git clone --depth 1 --progress -b master https://github.com/airmnb/airmnb-web.git web; fi && \
npm install && \
npm run build && \
cd - && \
ln -sf ${PWD}/web/build/index.html ${PWD}/app/index.html && \
ln -sf ${PWD}/web/build/service-worker.js ${PWD}/app/service-worker.js && \
ln -sf ${PWD}/web/build/static ${PWD}/app/static \
'

HTTPD_ROOT=${HTTPD_ROOT:-/opt/local}
CONF_ROOT=${HTTPD_ROOT}/etc/apache2
LOG_ROOT=${LOG_ROOT:-/opt/local/var/log/apache2}

alias app='cd ${FILE_DIR}'
alias conf='cd ${CONF_ROOT}'
alias log='cd ${LOG_ROOT}'
alias reload='sudo apachectl graceful'
alias al='cat ${LOG_ROOT}/access.log'
alias el='cat ${LOG_ROOT}/error.log'
alias tal='tail -f ${LOG_ROOT}/access.log'
alias tel='tail -f ${LOG_ROOT}/error.log'
alias db='psql ${AMB_DATABASE_URI}'
